{{#if show_banner}}

<div 
  class="banner py-4" 
  style="background-color: {{backgroundColor}};"
  >
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-lg-4 col-md-10">
          <h1 class="fw-600 fs-45 title">{{title}}</h1>
          <p>{{description}}</p>
      </div>
      <div class="col d-none d-lg-block">
          <h1 class="hola d-flex justify-content-end">{{abreviation}}</h1>
      </div>
    </div>
  </div>
</div>

{{/if}}