{{#if show_banner}}

<div class="banner" style="background-color: {{backgroundColor}};">
  <div class="container">
    <div class="custom-row-banner">
      <div class="d-flex flex-column">
        <h1 class="fw-600 fs-45 title">{{title}}</h1>
        <p class="m-0">{{description}}</p>
      </div>
      <div class="d-flex flex-column d-none d-lg-block">
        <h1 class="hola">{{abreviation}}</h1>
      </div>
    </div>
  </div>
</div>

{{/if}}