.custom-categories-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(576px, 1fr));
  grid-gap: 25px;

  .custom-category {
    // padding: 15px;
    border-radius: 2px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: grid;
    align-content: space-between;

    #custom-category-title {
      color: #000000;
      font-size: 18px;
      font-weight: 600;
      margin: 5px 0 10px 0;
    }

    .description {
      color: #4F4F4F;
      font-size: 16px;
    }
  }
    
  // Card
  .card {
    border: none !important;
    border-radius: 10px !important;
  }

  a {
    text-decoration: none;
  }
}

/* Custom Category Banner */
.custom-category-banner-wrapper {
  padding-top: 100px;
}
.custom-category-banner {
  width: 50%;
  margin: 0 auto 0 auto;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  h1 {
    font-size: $font-up-5;
  }
}

.category-page-custom-banner {
  #main-outlet {
    padding-top: 50px;
  }
}

