@for $i from 1 through 9 {
    $weight: 100 * $i;
    .fw-#{$weight}{
        font-weight: $weight;
    }
}

@for $i from 1 through 300 {
    $size: $i;
    .fs-#{$size}{
        font-size: #{$size}px;
    }
}

.title{
  line-height: 1;
}

.custom-categories-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-gap: 25px;

  .custom-category {
    // padding: 15px;
    border-radius: 2px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: grid;
    align-content: space-between;

    #custom-category-title {
      color: #000000;
      font-size: 18px;
      font-weight: 600;
      margin: 5px 0 10px 0;
    }

    .description {
      color: #4F4F4F;
      font-size: 16px;
      text-align: start;
    }
  }
    
  // Card
  .card {
    border: none !important;
    border-radius: 10px !important;    

    .no-image{
      width: 148px;
      height: 132px;
      background: #D3D3D3;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      span{
        color: #000000;
      }
    }
  }

  a {
    text-decoration: none;
  }
}

@media only screen and (max-width: 500px) {
  .custom-categories-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 25px;
  
    .custom-category {
      // padding: 15px;
      border-radius: 2px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      display: grid;
      align-content: space-between;
  
      #custom-category-title {
        color: #000000;
        font-size: 18px;
        font-weight: 600;
        margin: 0;
      }
  
      .description {
        color: #4F4F4F;
        font-size: 16px;
        margin-bottom: 0;
      }
    }
      
    // Card
    .card {
      border: none !important;
      border-radius: 10px !important;
    }
  
    a {
      text-decoration: none;
    }
  
    // Img
    .logo {
      height: 100%;
    }

    .no-image{
      width: 148px;
      height: 132px;
    }
  
    img {
      height: 100%;
      width: -webkit-fill-available;
    }
  }
}

/* Custom Category Banner */
.banner {
  padding: 52px;
  .container {
    max-width: 1264px;
    .custom-row-banner{
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 100px;
    }

    .container-hola{
      align-items: center;
      justify-content: flex-start;
      text-align: right;
      vertical-align: middle;
      height: 235px;
      .hola {
        font-size: 300px;
        font-weight: 300;
        letter-spacing: -10px;
        color: #FFFFFF;
        line-height: 1;
        margin: 0;
      }
    }
  }

  h1 .title {
    font-weight: 600;
    font-size: 80px;
    line-height: 80px;
    color: #000000;
  }

  p {
    font-size: 21px;
    color: #000000;
  }
}

.select-kit-header {
  background: #FAF5F2 !important;
  border: 1px solid #000000 !important;
  box-sizing: border-box !important;
  border-radius: 24px;

  .select-kit-selected-name {
    padding: 8px;
  }
}

#navigation-bar {
  #nav-bar-item.active {
    background: #FAF5F2 !important;
    color: #000000 !important;
    border-bottom: 1px solid #000000 !important;
  }
}

.list-controls{
  margin-bottom: 28px;
  .navigation-container{
    border-bottom: 1px solid #BDBDBD;
    padding-bottom: 16px;
    --nav-space: none;
    gap: 15px;
    /* Category BreadCrumb */
    .category-breadcrumb {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 15px;
      li{
        margin: 0;
        .select-kit-header{
          padding: 16px 24px !important;      
          .select-kit-header-wrapper{
            gap: 11px;
            .select-kit-selected-name{
              padding: 0;
              text-transform: capitalize;
              font-size: 14px;
              font-weight: 600;
            }
          }
        }
      }
    }

    /* Navigation Bar */
    #navigation-bar{
      gap: 32px;
      margin-bottom: 0;
      &::before{
        content: none;
      }
      li{
        margin: 0;
        a#nav-bar-item{
          padding-left: 0;
          padding-right: 0;
          font-size: 16px;
          font-weight: 400;
          &:not(.active){
            opacity: 0.5;
          }
        }
      }
    }
  }
}