<div class='custom-categories-wrapper'>
  {{#each categories as |c|}}
    {{category-wrapper c=c}}
  {{/each}}
</div>


<div class="row align-items-center anuncio py-4">
    <div class="col-lg-6 col-sm-12">
        <div class="d-flex justify-content-end">
            <img src="http://comunidadmagi.mgi.pe/uploads/default/original/1X/7fdd92141f01cd61e972faead3a86e2487cb1e9e.png" class="img-fluid" alt="phone">
        </div>
    </div>
    <div class="col-lg-6 col-sm-12">
        <h3 class="fw-600 fs-30">En Magi, <br>
            te asesoramos para que <br>
            construyas el mejor portafolio <br>
            con nuestros fondos <br>
            de inversión.</h3>
        <p class="fw-600 fs-20">Descarga nuestra nueva app</p>
        <div class="d-inline p-2">
            <a href="https://www.apple.com/la/app-store/" target="_blank">
                <img src="http://comunidadmagi.mgi.pe/uploads/default/original/1X/a3756576ba3f8f70d70b218c64f019cf0bf6b2c3.png" class="img-fluid" alt="appstore">
            </a>
        </div>
        <div class="d-inline p-2">
            <a href="https://play.google.com/store?hl=es" target="_blank">
                <img src="http://comunidadmagi.mgi.pe/uploads/default/original/1X/7cfdad21a4a50081ca30c25ba77c891926ccd06d.png" class="img-fluid" alt="googleplay">
            </a>
        </div>
    </div>
</div>